.login-form {
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
}

.change-form {
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

/*.register-form {
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    width: 100%;
}*/

.register-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.register-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.lead {
    color: black;
}



.lead {
    color: black;
}

html, body {
    height: 100%;
}

.disabled {
    cursor: not-allowed;
}

li.userLiveSearchLi, li.recipeLiveSearchLi {
    width: 300px;
    display: inline-block;
    padding: 10px;
    position: relative;
}



ul#userLiveSearchUl, ul#recipeLiveSearchUl {
    position: absolute;
    background: #8a8484;
    right: -10px;
    top: 70px;
    padding: 0;
    z-index: 1;
}

li.userLiveSearchLi li.close,
li.recipeLiveSearchLi li.close,
ul#friendRequestNotifUL li.close {
    position: absolute;
    color: white;
    opacity: 1 !important;
    list-style: none;
    right: 10px;
    top: 0px;
    cursor: pointer;
    z-index: 10;
}

li.userLiveSearchLi a,
li.recipeLiveSearchLi a,
li.friendRequestNotificationLi a {
    color: white;
}

.friendRequestNotification {
    color: lightblue;
}

.divAddFriendFromPage {
    color: white !important;
}

.divFriendContainer {
    /* width: 250px;*/
    /*border: .5px solid #c8c5c5;*/
    /*border-radius: 6px;*/
    /*height: 45px;*/
    /*padding-bottom: 5px;*/
}

.divCurrentFriends, .divRequests {
    border: 1px solid gray;
    border-radius: 2px;
    /* max-width:250px;*/
    padding: 5px;
}

#tblFriends, #tblRequests {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    /*border: 1px solid gray;*/
}

    #tblFriends tr, #tblRequests tr {
        padding: 0;
        /*line-height: 0;*/
    }
          #tblFriends tr td:first-child,
        #tblRequests tr td:first-child {
            width: 100%;
        }

        #tblFriends tr td, #tblRequests tr td {
           font-size:small;
        }

.cardFriendsBody {
    padding:0 0 5px 0;
}

.cardFriends {
    max-width:500px;
}


.btnAddNewFriend {
    font-size: x-small;
    background-color: #4582ec;
    color: white;
    padding: 8px;
    border-radius: 85px;
    text-decoration: none;
    float: right;
}

    .btnAddNewFriend:hover {
        text-decoration: none;
        color: white;
        background-color: #0652DD;
    }

.btnAccept {
    font-size: x-small;
    background: #02b875;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

    .btnAccept:hover {
        color: white;
        background-color: #02925d;
        border-color: #018655;
        text-decoration: none;
    }

.btnDecline {
    font-size: x-small;
    background: #d9534f;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

    .btnDecline:hover {
        color: white;
        background-color: #d23430;
        border-color: #c9302c;
        text-decoration: none;
    }

.btnPendingFriend {
    font-size: x-small;
    background: #f0ad4e;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: default;
}

    .btnPendingFriend:hover {
        color: white;
        text-decoration: none;
    }

.divFriendName {
    margin-top: 18px;
    float: left;
    margin-left: 5px;
}

.divFriendButton {
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

.clickAddFriend, .clickViewFriend {
    color: black;
    width:
}


.notifBadge {
    font-size: x-small;
}


.clickAddFriend:hover {
    text-decoration: underline;
}


.postRecipePic {
    width: 200px;
    margin: 5px;
}

.postRecipeName {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px 0 5px;
    padding-left: 5px;
}

.postCard {
    max-width:60rem !important;
}

.postCreated {
    float:right;
}
.postCardHeader {
    font-size:12px;
    font-weight: bold;
}

.tdPostRecipeDescription {
    font-size: 16px;
}

.friendRequestNotification.green {
    color: green;
    cursor: pointer;
}

.friendRequestCountLi {
    position: relative;
    padding-top: 7px;
}

ul#friendRequestNotifUL {
    position: absolute;
    right: -100px;
    top: 50px;
    background: #8a8484;
}

li.friendRequestNotificationLi {
    width: 200px;
    display: block;
    padding: 10px;
}

.ratingStar {
    cursor: pointer;
    width: 18px;
}

/*.ratingStar:hover {
    width: 18px;
}*/


.ratingDiv{
    float:right;
}


.adminarea {
    padding-top: 15px;
    color: white;
    cursor: pointer;
}

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 55px;
        color: black;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: black;
    }*/

span.fa-heart {
    color: red;
    cursor: pointer;
}

span.fa-heart-o {
    /*color: red;*/
    cursor: pointer;
}

#recipePic {
    width: 150px;
}


#addRecipe {
    margin: 0 auto;
}


.validator {
    font-size: x-small;
    margin-right: 15px;
    /*width: 35px;*/
    display: inline;
    padding: 3px;
    border: 1px solid black;
    border-radius: 2px;
}

.validator-fail {
    background-color: lightgrey;
    color: darkslategray;
    border-color: gray;
}

.validator-success {
    background-color: forestgreen;
    color: white;
    border-color: green;
}

.validator-row {
    text-align: center;
    margin-bottom: 8px;
}

@media only screen and (max-width:320px) {


    #recipePic {
        width: 35px;
    }

    .created {
        display: none;
    }

    .description {
        display: none;
    }

    .mealType {
        display: none;
    }

    .background {
        /*background-image: none;*/
    }

    .register-form {
        margin: auto;
        padding-top: 200px;
        width: 100%;
    }
}

@media only screen and (min-width:320px) {

    #recipePic {
        width: 40px;
    }

    .created {
        display: none;
    }

    .description {
        display: table-cell;
    }

    .mealType {
        display: none;
    }

    .register-form {
        margin: auto;
        padding-top: 200px;
        width: 100%;
    }
}

@media only screen and (max-width:599) and (min-width:480px) {

    #recipePic {
        width: 60px;
    }

    .created {
        display: none;
    }

    .description {
        display: table-cell;
    }

    .mealType {
        display: none;
    }

    .register-form {
        margin: auto;
        padding-top: 200px;
        width: 100%;
    }
}


@media only screen and (max-width:767) and (min-width:600px) {

    #recipePic {
        width: 70px;
    }

    .created, .description, .mealType {
        display: table-cell;
    }

    .register-form {
        margin: auto;
        padding-top: 200px;
        width: 100%;
    }
}

@media only screen and (min-width:768px) {

    #recipePic {
        width: 70px;
    }

    .created, .description, .mealType {
        display: table-cell;
    }

    .register-form {
        max-width: 600px;
        margin: auto;
        padding-top: 20px;
    }
}


#imgPreview {
    margin-top: 15px;
}



/* 
 *
 Recipe
 */

#authorName{
    font-size:14px;
}

.authorImage {
    width: 75px;
}

.headline-wrapper h2 {
    font-weight: 800;
}

.author-profile {
    color: dodgerblue;
    margin-left: 5px;
    font-size: 14px;
    font-weight:bold;
}

#recipeImage {
    width: 300px;
}

.recipeMealType {
    
}

.recipeCard{
    max-width:800px;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

#stars {
    margin-top: 3px;
    font-size: 25px;
    float: left;
    line-height: 1rem;
}

#summary {
    font-size: 18px;
}

.instruction {
    margin-bottom: 5px;
}

.instructionStep {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 3px;
    /*margin-left:5px;*/
}

.instructionText {
    max-width: 500px;
}

#rating {
    float: right;
}

.recipeReview {
    width: 220px;
    margin-bottom: 25px;
}

#btnAddComment{
    color:white;
}

.commenticon {
    font-size: 28px;
    margin-left: 5px;
}

.commentsHeader {
    width: 100%;
    border-bottom:1px solid gray;
    margin-bottom:25px;
}

.commentsHead {
    float: left;
}
.commentsBody {
    font-size: 14px;
}
.comment-name{
    font-weight:bold;
    font-size:16px;
    margin-bottom:6px;
}

.comment-date {
    font-size: 12px;
    color: rgba(0,0,0,0.65);
    margin-bottom: 10px;
}

.comment-text {
    font-size: 14px;
    margin-bottom:10px;
}

.comment {
    font-size:14px;
    border-bottom: 1px solid #eddede;
    margin-bottom: 18px;
    padding-bottom: 10px;
}

.commentsLeave {
    float: right;
    margin-top: 5px;
}


#addComment {
    font-size: 14px;
}

.userNameContainer {
    margin-left: 160px;
}

.sidenav {
    height: 100%;
    width: 160px;
   
    z-index: 1;
    /*top: 50px;*/
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
    }

        .sidenav a:hover {
            color: blue;
        }

