
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
@if (Session["CurrentUserName"] != null)
{
    <div class="row">
        <div class="col-6">

            <ul class="nav navbar-nav">
                <li class="userLiveSearchLi">
                    <input id="userSearchText" class="searchText form-control" type="text" placeholder="Search Friends" />
                    <ul id="userLiveSearchUl"></ul>
                </li>
            </ul>
        </div>
        <div class="col-6">

            <ul class="nav navbar-nav">
                <li class="recipeLiveSearchLi">
                    <input id="recipeSearchText" class="searchText form-control" type="text" placeholder="Search Recipes" />
                    <ul id="recipeLiveSearchUl"></ul>
                </li>
            </ul>
        </div>
    </div>
}

    @section Scripts {

        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script>

        $(document).ready(function () {

            /*
             * Live Search Username
             */

            $('input#userSearchText').keyup(function () {

                var searchVal = $('input#userSearchText').val();
                $('ul#userLiveSearchUl').empty();

                if (searchVal == "" || searchVal == " ") {
                    return false
                }

                var url = '/api/livesearchuser';
                $.get(url, { searchVal: searchVal }, function (data) {
                    if (data.length > 0) {
                        $('ul#userLiveSearchUl').append("<li class=close>x</li>");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];

                        $('ul#userLiveSearchUl').append('<li class=userLiveSearchLi><a href="/' + obj.username + '">' + obj.first_name + ' ' + obj.last_name + '</a></li>');
                    }


                });
            });

            // friends search click close
            $("body").on('click', 'ul#userLiveSearchUl li.close', function () {
                $('ul#userLiveSearchUl').empty();
                $('input#userSearchText').val('');
            });
            /*
             Hub
             */

            // Setup Hub Connection
            var hub = $.connection.echo;

            hub.client.test = function (msg) {
                console.log(msg);
            }

            // connect to the hub
            $.connection.hub
                .start()
                .done(function () {
                    hub.server.hello("Signal works");

                    /*
                     * Add Friend
                     */
                    $('a.addFriend').click(function (e) {
                        e.preventDefault();

                        var friendID = '@ViewBag.UserId'

                        var url = '/account/AddFriend';

                        $.post(url, { friend: friend }, function (data) {
                            $('.areFriendsDiv').removeClass('alert-info').addClass('alert-warning').html('<p>Pending Friend Request</p>');
                        }).done(function () {
                            hub.server.notify(friend);
                        });
                    });
                });

        });


        </script>
    }