
@{
    ViewBag.Title = "Index";
}



@if (Session["CurrentUserName"] == null)
{
    //place homepage items here, carousel,etc

}

 @*search goes here*@
    @*@if (Session["CurrentUserName"] != null)
{
<div class="row">
    <div class="col-6">

        <ul class="nav navbar-nav">
            <li class="userLiveSearchLi">
                <input id="userSearchText" class="searchText form-control" type="text" placeholder="Search Friends" />
                <ul id="userLiveSearchUl"></ul>
            </li>
        </ul>
    </div>
    <div class="col-6">

        <ul class="nav navbar-nav">
            <li class="recipeLiveSearchLi">
                <input id="recipeSearchText" class="searchText form-control" type="text" placeholder="Search Recipes" />
                <ul id="recipeLiveSearchUl"></ul>
            </li>
        </ul>
    </div>
</div>
}*@

@section Scripts {

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>

        $(document).ready(function () {

            /*
             * Live Search Username
             */

            $('input#userSearchText').keyup(function () {

                var searchVal = $('input#userSearchText').val();
                $('ul#userLiveSearchUl').empty();

                if (searchVal == "" || searchVal == " ") {
                    return false
                }

                var url = '/api/livesearchuser';
                $.get(url, { searchVal: searchVal, userName: '@ViewBag.Username' }, function (data) {
                    if (data.length > 0) {
                        $('ul#userLiveSearchUl').append("<li class=close>x</li>");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];

                        $('ul#userLiveSearchUl').append('<li class=userLiveSearchLi><a href="/' + obj.username + '">' + obj.first_name + ' ' + obj.last_name + '</a></li>');
                    }


                });
            });

            // friends search click close
            $("body").on('click', 'ul#userLiveSearchUl li.close', function () {
                $('ul#userLiveSearchUl').empty();
                $('input#userSearchText').val('');
            });


            /*
             Hub
             */

            // Setup Hub Connection
            var hub = $.connection.echo;

            hub.client.test = function (msg) {
                console.log(msg);
            }

            hub.client.friendRequestNotify = function (friend, requestCount) {
                $("span.friendRequestNotification." + friend + "> span").text(requestCount);
                $("span.friendRequestNotification." + friend).addClass("green");
            }

            hub.client.friendRequestCount = function (username, count) {
                if (count > 0) {
                    $("span.friendRequestNotification." + username + "> span").text(count);
                }
                else {
                    $("span.friendRequestNotification." + username + "> span").text("");
                    $("span.friendRequestNotification." + username).removeClass("green");

                }
            }

            // connect to the hub
            $.connection.hub
                .start()
                .done(function () {
                    hub.server.hello("Signal works");

                    /*
                     * Add Friend
                     */
                    $('a.addFriend').click(function (e) {
                        e.preventDefault();

                        var friendID = '@ViewBag.UserId'

                        var url = '/account/AddFriend';

                        $.post(url, { friend: friend }, function (data) {
                            $('.areFriendsDiv').removeClass('alert-info').addClass('alert-warning').html('<p>Pending Friend Request</p>');
                        }).done(function () {
                            hub.server.notify(friend);
                        });
                    });
                });
            /*
             * Display friend requests
             */

            $("body").on("click", "span.friendRequestNotification.green", function () {

                $('ul#friendRequestNotifUL').empty();


                var url = '/profile/DisplayFriendRequests';
                $.post(url, {}, function (data) {
                    if (data.length > 0) {
                        $('ul#friendRequestNotifUL').append("<li class=close>x</li>");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];

                        $('ul#friendRequestNotifUL').append('<li class=friendRequestNotificationLi><a href="/' + obj.username + '">' + obj.first_name + ' ' + obj.last_name + '</a> ' + '<a class=accept href="#" data-id="' + obj.user_id + '"><span><i class="fa fa-check"></i></span></a>' + ' ' + '<a class=decline href="#" data-id=' + obj.id + '"><span><i class="fa fa-window-close"></i></span></a></li>');
                    }

                });
            });

            // friends search click close
            $("body").on('click', 'ul#friendRequestNotifUL li.close', function () {
                $('ul#friendRequestNotifUL').empty();
            });



            ///////////////////////////////////////////////
            /*
           * Accept friend requests
           */

            $("body").on("click", "a.accept", function (e) {
                e.preventDefault();

                var $this = $(this);
                var friendId = $this.data("id");

                var url = 'profile/AcceptFriendRequest';
                $.post(url, { friendId: friendId }, function (data) {
                }).done(function () {
                    $this.parent().fadeOut("fast");
                    hub.server.getFriendRequestCount(@Session["CurrentUserID"]);
                   //hub.server.getFriendCount(friendId);

                });
            });


            ///////////////////////////////////////////////

        }); // end ready


    </script>
}